body {
    font-family: 'Noto Sans', sans-serif;
    background-image: linear-gradient(hsla(321, 21%, 77%, 1), (hsla(321, 21%, 97%, 1)));
    color: hsla(321,21%,19%,1);
    min-height:100vh;

    #imagegallery {
        min-height:calc(100vh - 275px);
}

.pagination {
        position:fixed;
        left:50%;
        transform:translateX(-50%);
        bottom: 20px;
        padding:5px;
    }

header {
        background-color: #cfe5e3;
        background-image: url("https://github.com/0ctavia/restaurant/blob/master/assets/images/branch.jpg?raw=true");
        background-repeat: no-repeat;
        background-size:cover;
        background-color: hsla(0,0%,100%,0.60);
        background-blend-mode: overlay;
        background-position:center;
        font-family: 'Chilanka', cursive;
        color:hsla(319, 21%, 26%, 1);
        font-size:1.5em;

        h1 {
        font-size: 2em;
        font-weight:bold;
        color: hsla(321,21%,19%,1);
        padding-top:8px;
        }
    }

nav {
        a {
        font-family:'Chilanka', cursive;
        font-weight: bold;
        font-size:1.25em;
        color:#254044;
         }
    }

.panel {
        border-width:1px;
        border-color:hsla(319, 21%, 26%, 1);
        border-radius:5px;
        padding:1em;

        .panel-heading{
            background-color:hsla(319, 21%, 81%, 1);
            color:#254044;
        }
        .panel-body{
            background-color:hsla(319, 21%, 90%, 1);
            color:hsla(319,21%,25%,1);

            a {
            color:#254044;
            text-decoration:underline;
            }
        }
    }

i {
        color:hsla(319,21%,26%,1);
    }

#popular {
    line-height:40px;
}

#menulist {
        /*background-color: #e5d7e0;*/
        color: hsla(321, 21%, 19%,1);
        margin-top:5px;

          ul {
            background-color:#e5d7e0;
           }
        
    }
.list-group {
        background-color:hsla(319,21%,90%,1);
        color: hsla(319, 21%, 19%, 1);
        padding:5px;

        .list-group-item {
        background-color:#e5d7e0;
        }
    }
#openinghours {
        border-width:3px;
        border-color:hsla(319,21%,26%,1);
   
    }    
div > img {
        margin-top:5px;
        margin-bottom:5px;
        border-radius:10px;
    }

ul > li > a.active {
        background-color:#e0d6bf;
    }

#indeximages > div > div > img {
        padding:5px;
    }


.border-dark {
        border-radius:10px;
        border-width:2px;
    }
.btn-default{
    background-color:hsla(319,21%,90%,1);
    color:hsla(319,21%,19%,1);

}

}
