body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #e5d7e0;
  color: #3b2634; }

header {
  background-color: #cfe5e3;
  background-image: url("https://github.com/0ctavia/restaurant/blob/master/assets/images/branch.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: overlay;
  background-position: center;
  font-family: 'Chilanka', cursive;
  color: #503447;
  font-size: 1.5em; }
  header h1 {
    font-size: 2em;
    font-weight: bold;
    color: #3b2634;
    padding-top: 8px; }

nav a {
  font-family: 'Chilanka', cursive;
  font-weight: italic;
  font-size: 1.25em; }

article {
  font-weight: bold; }

.panel {
  border-width: 1px;
  border-color: #503447;
  border-radius: 5px;
  padding: 1em; }
  .panel .panel-heading {
    background-color: #d9c4d2;
    color: #366360; }
  .panel .panel-body {
    background-color: #ebe0e7;
    color: #3b2634; }

.fas {
  color: #503447;
  font-size: 1.15em; }

#popular {
  line-height: 40px; }
  #popular row {
    line-height: 40px; }

#menulist {
  background-color: #e5d7e0;
  color: #3b2634;
  margin-top: 5px; }
  #menulist .row {
    background-color: #e5d7e0; }
    #menulist .row ul {
      background-color: #e5d7e0; }

.list-group {
  background-color: #ebe0e7;
  color: #3b2634;
  padding: 5px; }
  .list-group .list-group-item {
    background-color: #e5d7e0; }

#openinghours {
  border-width: 3px;
  border-color: #503447; }

div > img {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px; }
body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #e5d7e0;
  color: #3b2634; }

header {
  background-color: #cfe5e3;
  background-image: url("https://github.com/0ctavia/restaurant/blob/master/assets/images/branch.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: overlay;
  background-position: center;
  font-family: 'Chilanka', cursive;
  color: #503447;
  font-size: 1.5em; }
  header h1 {
    font-size: 2em;
    font-weight: bold;
    color: #3b2634;
    padding-top: 8px; }

nav a {
  font-family: 'Chilanka', cursive;
  font-weight: italic;
  font-size: 1.25em; }

article {
  font-weight: bold; }

.panel {
  border-width: 1px;
  border-color: #503447;
  border-radius: 5px;
  padding: 1em; }
  .panel .panel-heading {
    background-color: #d9c4d2;
    color: #366360; }
  .panel .panel-body {
    background-color: #ebe0e7;
    color: #3b2634; }

.fas {
  color: #503447;
  font-size: 1.15em; }

#popular {
  line-height: 40px; }
  #popular row {
    line-height: 40px; }

#menulist {
  background-color: #e5d7e0;
  color: #3b2634;
  margin-top: 5px; }
  #menulist .row {
    background-color: #e5d7e0; }
    #menulist .row ul {
      background-color: #e5d7e0; }

.list-group {
  background-color: #ebe0e7;
  color: #3b2634;
  padding: 5px; }
  .list-group .list-group-item {
    background-color: #e5d7e0; }

#openinghours {
  border-width: 3px;
  border-color: #503447; }

div > img {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px; }

ul > li > a.active {
  background-color: #e0d6bf; }
body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #e5d7e0;
  color: #3b2634; }

header {
  background-color: #cfe5e3;
  background-image: url("https://github.com/0ctavia/restaurant/blob/master/assets/images/branch.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: overlay;
  background-position: center;
  font-family: 'Chilanka', cursive;
  color: #503447;
  font-size: 1.5em; }
  header h1 {
    font-size: 2em;
    font-weight: bold;
    color: #3b2634;
    padding-top: 8px; }

nav a {
  font-family: 'Chilanka', cursive;
  font-weight: italic;
  font-size: 1.25em; }

article {
  font-weight: bold; }

.panel {
  border-width: 1px;
  border-color: #503447;
  border-radius: 5px;
  padding: 1em; }
  .panel .panel-heading {
    background-color: #d9c4d2;
    color: #366360; }
  .panel .panel-body {
    background-color: #ebe0e7;
    color: #3b2634; }

.fas {
  color: #503447;
  font-size: 1.15em; }

#popular {
  line-height: 40px; }
  #popular row {
    line-height: 40px; }

#menulist {
  background-color: #e5d7e0;
  color: #3b2634;
  margin-top: 5px; }
  #menulist .row {
    background-color: #e5d7e0; }
    #menulist .row ul {
      background-color: #e5d7e0; }

.list-group {
  background-color: #ebe0e7;
  color: #3b2634;
  padding: 5px; }
  .list-group .list-group-item {
    background-color: #e5d7e0; }

#openinghours {
  border-width: 3px;
  border-color: #503447; }

div > img {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px; }

ul > li > a.active {
  background-color: #e0d6bf; }
body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #e5d7e0;
  color: #3b2634; }

header {
  background-color: #cfe5e3;
  background-image: url("https://github.com/0ctavia/restaurant/blob/master/assets/images/branch.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: overlay;
  background-position: center;
  font-family: 'Chilanka', cursive;
  color: #503447;
  font-size: 1.5em; }
  header h1 {
    font-size: 2em;
    font-weight: bold;
    color: #3b2634;
    padding-top: 8px; }

nav a {
  font-family: 'Chilanka', cursive;
  font-weight: italic;
  font-size: 1.25em; }

article {
  font-weight: bold; }

.panel {
  border-width: 1px;
  border-color: #503447;
  border-radius: 5px;
  padding: 1em; }
  .panel .panel-heading {
    background-color: #d9c4d2;
    color: #366360; }
  .panel .panel-body {
    background-color: #ebe0e7;
    color: #3b2634; }

.fas {
  color: #503447;
  font-size: 1.15em; }

#popular {
  line-height: 40px; }
  #popular row {
    line-height: 40px; }

#menulist {
  background-color: #e5d7e0;
  color: #3b2634;
  margin-top: 5px; }
  #menulist .row {
    background-color: #e5d7e0; }
    #menulist .row ul {
      background-color: #e5d7e0; }

.list-group {
  background-color: #ebe0e7;
  color: #3b2634;
  padding: 5px; }
  .list-group .list-group-item {
    background-color: #e5d7e0; }

#openinghours {
  border-width: 3px;
  border-color: #503447; }

div > img {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px; }

ul > li > a.active {
  background-color: #e0d6bf; }

#indeximages > div > div > img {
  max-width: 20vh;
  border-radius: 50%; }
body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #e5d7e0;
  color: #3b2634; }

header {
  background-color: #cfe5e3;
  background-image: url("https://github.com/0ctavia/restaurant/blob/master/assets/images/branch.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: overlay;
  background-position: center;
  font-family: 'Chilanka', cursive;
  color: #503447;
  font-size: 1.5em; }
  header h1 {
    font-size: 2em;
    font-weight: bold;
    color: #3b2634;
    padding-top: 8px; }

nav a {
  font-family: 'Chilanka', cursive;
  font-weight: italic;
  font-size: 1.25em; }

article {
  font-weight: bold; }

.panel {
  border-width: 1px;
  border-color: #503447;
  border-radius: 5px;
  padding: 1em; }
  .panel .panel-heading {
    background-color: #d9c4d2;
    color: #366360; }
  .panel .panel-body {
    background-color: #ebe0e7;
    color: #3b2634; }

.fas {
  color: #503447;
  font-size: 1.15em; }

#popular {
  line-height: 40px; }
  #popular row {
    line-height: 40px; }

#menulist {
  background-color: #e5d7e0;
  color: #3b2634;
  margin-top: 5px; }
  #menulist .row {
    background-color: #e5d7e0; }
    #menulist .row ul {
      background-color: #e5d7e0; }

.list-group {
  background-color: #ebe0e7;
  color: #3b2634;
  padding: 5px; }
  .list-group .list-group-item {
    background-color: #e5d7e0; }

#openinghours {
  border-width: 3px;
  border-color: #503447; }

div > img {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px; }

ul > li > a.active {
  background-color: #e0d6bf; }

#indeximages > div > div > img {
  width: 20vh;
  border-radius: 50%; }
body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #e5d7e0;
  color: #3b2634; }

header {
  background-color: #cfe5e3;
  background-image: url("https://github.com/0ctavia/restaurant/blob/master/assets/images/branch.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: overlay;
  background-position: center;
  font-family: 'Chilanka', cursive;
  color: #503447;
  font-size: 1.5em; }
  header h1 {
    font-size: 2em;
    font-weight: bold;
    color: #3b2634;
    padding-top: 8px; }

nav a {
  font-family: 'Chilanka', cursive;
  font-weight: italic;
  font-size: 1.25em; }

article {
  font-weight: bold; }

.panel {
  border-width: 1px;
  border-color: #503447;
  border-radius: 5px;
  padding: 1em; }
  .panel .panel-heading {
    background-color: #d9c4d2;
    color: #366360; }
  .panel .panel-body {
    background-color: #ebe0e7;
    color: #3b2634; }

.fas {
  color: #503447;
  font-size: 1.15em; }

#popular {
  line-height: 40px; }
  #popular row {
    line-height: 40px; }

#menulist {
  background-color: #e5d7e0;
  color: #3b2634;
  margin-top: 5px; }
  #menulist .row {
    background-color: #e5d7e0; }
    #menulist .row ul {
      background-color: #e5d7e0; }

.list-group {
  background-color: #ebe0e7;
  color: #3b2634;
  padding: 5px; }
  .list-group .list-group-item {
    background-color: #e5d7e0; }

#openinghours {
  border-width: 3px;
  border-color: #503447; }

div > img {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px; }

ul > li > a.active {
  background-color: #e0d6bf; }

#indeximages > div > div > img {
  width: 20vh;
  max-heigth: 75px;
  border-radius: 50%; }
body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #e5d7e0;
  color: #3b2634; }

header {
  background-color: #cfe5e3;
  background-image: url("https://github.com/0ctavia/restaurant/blob/master/assets/images/branch.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: overlay;
  background-position: center;
  font-family: 'Chilanka', cursive;
  color: #503447;
  font-size: 1.5em; }
  header h1 {
    font-size: 2em;
    font-weight: bold;
    color: #3b2634;
    padding-top: 8px; }

nav a {
  font-family: 'Chilanka', cursive;
  font-weight: italic;
  font-size: 1.25em; }

article {
  font-weight: bold; }

.panel {
  border-width: 1px;
  border-color: #503447;
  border-radius: 5px;
  padding: 1em; }
  .panel .panel-heading {
    background-color: #d9c4d2;
    color: #366360; }
  .panel .panel-body {
    background-color: #ebe0e7;
    color: #3b2634; }

.fas {
  color: #503447;
  font-size: 1.15em; }

#popular {
  line-height: 40px; }
  #popular row {
    line-height: 40px; }

#menulist {
  background-color: #e5d7e0;
  color: #3b2634;
  margin-top: 5px; }
  #menulist .row {
    background-color: #e5d7e0; }
    #menulist .row ul {
      background-color: #e5d7e0; }

.list-group {
  background-color: #ebe0e7;
  color: #3b2634;
  padding: 5px; }
  .list-group .list-group-item {
    background-color: #e5d7e0; }

#openinghours {
  border-width: 3px;
  border-color: #503447; }

div > img {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px; }

ul > li > a.active {
  background-color: #e0d6bf; }

#indeximages > div > div > img {
  max-width: 20vh;
  border-radius: 50%; }
body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #e5d7e0;
  color: #3b2634; }

header {
  background-color: #cfe5e3;
  background-image: url("https://github.com/0ctavia/restaurant/blob/master/assets/images/branch.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: overlay;
  background-position: center;
  font-family: 'Chilanka', cursive;
  color: #503447;
  font-size: 1.5em; }
  header h1 {
    font-size: 2em;
    font-weight: bold;
    color: #3b2634;
    padding-top: 8px; }

nav a {
  font-family: 'Chilanka', cursive;
  font-weight: italic;
  font-size: 1.25em; }

article {
  font-weight: bold; }

.panel {
  border-width: 1px;
  border-color: #503447;
  border-radius: 5px;
  padding: 1em; }
  .panel .panel-heading {
    background-color: #d9c4d2;
    color: #366360; }
  .panel .panel-body {
    background-color: #ebe0e7;
    color: #3b2634; }

.fas {
  color: #503447;
  font-size: 1.15em; }

#popular {
  line-height: 40px; }
  #popular row {
    line-height: 40px; }

#menulist {
  background-color: #e5d7e0;
  color: #3b2634;
  margin-top: 5px; }
  #menulist .row {
    background-color: #e5d7e0; }
    #menulist .row ul {
      background-color: #e5d7e0; }

.list-group {
  background-color: #ebe0e7;
  color: #3b2634;
  padding: 5px; }
  .list-group .list-group-item {
    background-color: #e5d7e0; }

#openinghours {
  border-width: 3px;
  border-color: #503447; }

div > img {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px; }

ul > li > a.active {
  background-color: #e0d6bf; }

#indeximages > div > div > img {
  width: 200px;
  max-width: 20vh;
  border-radius: 50%;
  padding: 5px; }
body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #e5d7e0;
  color: #3b2634;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: overlay; }

header {
  background-color: #cfe5e3;
  background-image: url("https://github.com/0ctavia/restaurant/blob/master/assets/images/branch.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: overlay;
  background-position: center;
  font-family: 'Chilanka', cursive;
  color: #503447;
  font-size: 1.5em; }
  header h1 {
    font-size: 2em;
    font-weight: bold;
    color: #3b2634;
    padding-top: 8px; }

nav a {
  font-family: 'Chilanka', cursive;
  font-weight: italic;
  font-size: 1.25em; }

article {
  font-weight: bold; }

.panel {
  border-width: 1px;
  border-color: #503447;
  border-radius: 5px;
  padding: 1em; }
  .panel .panel-heading {
    background-color: #d9c4d2;
    color: #366360; }
  .panel .panel-body {
    background-color: #ebe0e7;
    color: #3b2634; }

.fas {
  color: #503447;
  font-size: 1.15em; }

#popular {
  line-height: 40px; }
  #popular row {
    line-height: 40px; }

#menulist {
  background-color: #e5d7e0;
  color: #3b2634;
  margin-top: 5px; }
  #menulist .row {
    background-color: #e5d7e0; }
    #menulist .row ul {
      background-color: #e5d7e0; }

.list-group {
  background-color: #ebe0e7;
  color: #3b2634;
  padding: 5px; }
  .list-group .list-group-item {
    background-color: #e5d7e0; }

#openinghours {
  border-width: 3px;
  border-color: #503447; }

div > img {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px; }

ul > li > a.active {
  background-color: #e0d6bf; }

#indeximages > div > div > img {
  width: 200px;
  max-width: 20vh;
  border-radius: 50%;
  padding: 5px; }
body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #e5d7e0;
  color: #3b2634; }

header {
  background-color: #cfe5e3;
  background-image: url("https://github.com/0ctavia/restaurant/blob/master/assets/images/branch.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: overlay;
  background-position: center;
  font-family: 'Chilanka', cursive;
  color: #503447;
  font-size: 1.5em; }
  header h1 {
    font-size: 2em;
    font-weight: bold;
    color: #3b2634;
    padding-top: 8px; }

nav a {
  font-family: 'Chilanka', cursive;
  font-weight: italic;
  font-size: 1.25em; }

article {
  font-weight: bold; }

.panel {
  border-width: 1px;
  border-color: #503447;
  border-radius: 5px;
  padding: 1em; }
  .panel .panel-heading {
    background-color: #d9c4d2;
    color: #366360; }
  .panel .panel-body {
    background-color: #ebe0e7;
    color: #3b2634; }

.fas {
  color: #503447;
  font-size: 1.15em; }

#popular {
  line-height: 40px; }
  #popular row {
    line-height: 40px; }

#menulist {
  background-color: #e5d7e0;
  color: #3b2634;
  margin-top: 5px; }
  #menulist .row {
    background-color: #e5d7e0; }
    #menulist .row ul {
      background-color: #e5d7e0; }

.list-group {
  background-color: #ebe0e7;
  color: #3b2634;
  padding: 5px; }
  .list-group .list-group-item {
    background-color: #e5d7e0; }

#openinghours {
  border-width: 3px;
  border-color: #503447; }

div > img {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px; }

ul > li > a.active {
  background-color: #e0d6bf; }

#indeximages > div > div > img {
  width: 200px;
  max-width: 20vh;
  border-radius: 50%;
  padding: 5px; }
